body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/urp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw !important;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-formulario {
  background-color: #fff;
  display: flex;
  border-radius: 0px 20px 20px 0px;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 400px;
}

.container-formulario input {
  width: 100%; /* Ajustado para adaptarse dinámicamente */
}

.container-formulario-logo {
  background-color: #038731;
  border-radius: 20px 0px 0px 20px;
  width: 400px;
  height: 334px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-image: url("../public/Logo-URP-Sin-Fondo.png");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-curso-total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-bienvenida {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.container-curso-total h1 {
  font-weight: 400;
  text-align: left;
}

.container-curso {
  background-color: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.card {
  margin: 20px auto;
}

.card-body {
  width: 100%;
  max-width: 400px;
}

.card-body .card-title {
  font-weight: 400;
  color: #038731;
  text-decoration-line: underline;
  cursor: pointer;
}

.card-body img {
  width: 100%;
  max-width: 310px;
  height: auto;
  object-fit: cover;
}

#root {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-curso-seleccionado-total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre-curso {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.container-curso-seleccionado-total h1 {
  font-weight: 700;
  text-align: left;
  font-size: 1.8rem;
}

.container-curso-seleccionado {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  margin: 20px auto;
}

.opciones-curso {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.opciones-curso h3 {
  font-size: 1rem;
}

.opcion {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 150px;
}

.opcion.activo {
  background-color: #c8e1d3;
  border-bottom: 3px solid #378e5b;
  cursor: pointer;
}

.opcion:hover {
  background-color: #e9e9e9;
  border-bottom: 3px solid #363636;
}

.seccion {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.seccion h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.footer-cursos {
  background-color: #1a1c1b;
  color: #cdcece;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.footer-cursos-texto {
  gap: 10px;
}

.footer-cursos-iconos {
  display: flex;
  gap: 20px;
}

/* Botones */
.boton-agregar-curso .btn,
.boton-agregar-usuario .btn {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  background-color: #038731;
  border: none;
}

/* Tablas */
.tabla-gestionar-cursos,
.tabla-gestionar-usuarios {
  padding: 0 30px 30px;
  border-radius: 20px;
}

.paginacion-gestionar-cursos,
.paginacion-gestionar-usuarios {
  display: flex !important;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 1200px) {
  .container-curso,
  .container-curso-seleccionado,
  .texto-bienvenida,
  .nombre-curso {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
    height: auto;
  }

  .container-formulario,
  .container-formulario-logo {
    width: 90%;
  }

  .opciones-curso {
    justify-content: center;
  }

  .boton-agregar-curso .btn,
  .boton-agregar-usuario .btn {
    width: 150px;
    height: 40px;
  }

  h1,
  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .card-body img {
    width: 100%;
    height: auto;
  }

  .footer-cursos {
    flex-direction: column;
  }

  .opciones-curso h3 {
    font-size: 0.9rem;
  }
}
